.app {
  text-align: center;
}

.app-main {
  min-height: calc(100vh - 125px);
  display: flex;
  /* justify-content: space-between; */
  /* width: 100vw; */
}

.app-main2-l {
  flex: 1;
}

.app-main2-m {
  background-color: white;
  flex: 6;
  align-items: center;
  justify-content: center;
}

.app-main2-r {
  flex: 1;
}

label {
  display: inline-block; 
  max-width: 100%; 
  margin-bottom: 5px; 
  font-weight: 700;
}
